html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins,
kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
}

body {
  color: var(--basic-color);
  font-family: "Roboto", sans-serif;
}

button:hover {
  background: var(--another-color);
}

button:focus {
  background: var(--another-color);
}

.second-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}
@media screen and (max-width: 1199px) {
  .second-title {
    font-size: 28px;
    line-height: 1.17;
    margin-bottom: 30px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

:root {
  --basic-color: #212121;
  --sac-basic-color: #ffffff;
  --another-color:#2196f3;
  --subtitle-color:#757575;
  --back-color: #2f303a;
  --uknown-color: #ffffff99;
  --back-batt-color: #188CE8;
  --back-section-color: #F5F4FA;
  --border-header-color: #ECECEC;
  --icons-color:#AFB1B8;
}

.but-end, .modal-button, .backdrop, .icons-footer, .map, .mail-tell-foot, .icons-clients, .link-clients, .icons-team, .icons-team-ic, .communication__mail, .communication__tel, .navigation__link, .hero-button {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-enter, .checkbox, .modal-button, .icons-footer, .icons-first-footer, .link-clients, .icons-team, .features__block, .communication, .header__container, .communication__mail, .communication__tel, .navigation {
  display: flex;
  align-items: center;
}

.hero-button {
  background-color: var(--back-batt-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--sac-basic-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  min-width: 216px;
  height: 50px;
  text-align: center;
  display: inline-block;
  position: relative;
  transition-property: background-color;
}

.button-maling {
  min-width: 200px;
  height: 50px;
  background-color: var(--another-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--sac-basic-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .button-maling {
    margin-left: 12px;
  }
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media screen and (max-width: 1199px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.logo {
  width: 145px;
  height: 31px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--another-color);
  text-decoration: none;
}

.navigation__link {
  transition-property: color;
  position: relative;
}

.nav--current::after {
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: -33px;
  height: 4px;
  border-radius: 2px;
  content: "";
  background: var(--another-color);
}

.navigation--name {
  text-decoration: none;
  color: var(--basic-color);
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
}
.navigation--name:hover, .navigation--name:focus {
  color: var(--another-color);
}

.navigation__logo {
  margin-right: 93px;
}

.logo__leters {
  color: var(--basic-color);
}

.nav--active {
  color: var(--another-color);
}

.mail--icons,
.tel--icons {
  margin-right: 10px;
  fill: currentColor;
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border: 1px solid var(--border-header-colo);
}

.navigation {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--basic-color);
  position: relative;
}

.communication__tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--subtitle-color);
  cursor: pointer;
  transition-property: color;
}

.communication__mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--subtitle-color);
  cursor: pointer;
  transition-property: color;
}

.navigation__header {
  list-style: none;
  display: flex;
  gap: 50px;
}

.communication {
  justify-items: space-between;
  gap: 50px;
  margin-left: auto;
  list-style: none;
}

.hero-sect {
  width: 100%;
  margin: 0 auto;
  background-color: var(--back-color);
  color: var(--sac-basic-color);
  padding-bottom: 118px;
  padding-top: 118px;
  display: flex;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 1200px) {
  .hero-sect {
    padding-bottom: 200px;
    padding-top: 200px;
    max-width: 1600px;
  }
}

.title-hero {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--sac-basic-color);
  margin-bottom: 30px;
  text-transform: uppercase;
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .title-hero {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

.features__container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
  width: 100%;
}

.features {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .features {
    text-align: center;
  }
}

.features__paragraph {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--subtitle-color);
}

.features__list {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .features__list {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .features__list {
    width: calc((100% - 90px) / 4);
  }
}

.features__block {
  justify-content: center;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  background-color: var(--back-section-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .features__block {
    width: 354px;
    height: 120px;
  }
}
@media screen and (min-width: 1200px) {
  .features__block {
    width: 270px;
    height: 120px;
  }
}

.defunct {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.work__container {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.work__paragraph {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--sac-basic-color);
  padding-top: 27px;
  padding-bottom: 27px;
  margin: 0;
}
.work__container > .work__paragraph {
  position: absolute;
  top: 224px;
  bottom: 0;
  right: auto;
  left: auto;
  background: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
}

.work__section {
  padding-bottom: 94px;
}
@media screen and (max-width: 1200px) {
  .work__section {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
            clip-path: inset(50%);
    margin: -1px;
  }
}

.work__block {
  display: flex;
  gap: 30px;
  list-style: none;
}

.icons-first-team {
  display: flex;
  justify-content: space-around;
  padding: 16px 122px 24px;
  flex-basis: calc((100% - 30px) / 4);
  list-style: none;
}
@media screen and (min-width: 768px) {
  .icons-first-team {
    padding: 16px 74px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .icons-first-team {
    padding: 16px 32px 30px;
  }
}

.icons-team-ic {
  fill: var(--icons-color);
  transition-property: fill;
}
.icons-team:hover .icons-team-ic, .icons-team:focus .icons-team-ic {
  fill: var(--sac-basic-color);
}

.icons-team {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  gap: 10px;
  justify-content: center;
  transition-property: background-color;
}
.icons-team:hover {
  background-color: var(--another-color);
}
.icons-team:focus {
  background-color: var(--another-color);
}

.staff {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
}

.staff-paragraph {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.staff-profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--subtitle-color);
  text-align: center;
}

.team {
  background-color: var(--back-section-color);
}

.team-list {
  background-color: var(--sac-basic-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 100%;
}
@media screen and (min-width: 480px) {
  .team-list {
    width: 450px;
    height: 622px;
  }
}
@media screen and (min-width: 768px) {
  .team-list {
    width: 354px;
    height: 536px;
  }
}
@media screen and (min-width: 1200px) {
  .team-list {
    width: 270px;
    height: 428px;
  }
}

.link-clients {
  width: 210px;
  height: 92px;
  border: 1px solid var(--icons-color);
  border-radius: 5px;
  justify-content: center;
  transition-property: border-color;
}
.link-clients:hover, .link-clients:focus {
  border-color: var(--another-color);
}
@media screen and (min-width: 768px) {
  .link-clients {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .link-clients {
    width: 170px;
  }
}

.list-client {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 30px;
}
@media screen and (max-width: 479px) {
  .list-client {
    justify-content: center;
  }
}

.icons-clients {
  fill: var(--icons-color);
  transition-property: fill;
}
.link-clients:hover .icons-clients, .link-clients:focus .icons-clients {
  fill: var(--another-color);
}

@media screen and (min-width: 1200px) {
  .footer-first-block {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

.foot-list:not(:last-child) {
  margin-bottom: 8px;
}

.footer-box {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .footer-box {
    justify-content: flex-start;
  }
}

.basement-hero {
  background-color: var(--back-color);
}

.mail-tell-foot {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--uknown-color);
  text-decoration: none;
  font-style: normal;
  transition-property: color;
  cursor: pointer;
}

.map {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--sac-basic-color);
  text-decoration: none;
  font-style: normal;
  transition-property: color;
  cursor: pointer;
}

.basement {
  list-style: none;
  margin-bottom: 60px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .basement {
    text-align: start;
    margin-bottom: 0;
  }
}

.two-logo-letters {
  color: var(--sac-basic-color);
}

.paragrapf-footer {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--sac-basic-color);
  margin-bottom: 20px;
  text-transform: uppercase;
}

.footer-second {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer-second {
    text-align: start;
    margin-left: 70px;
  }
}

.icons-first-footer {
  justify-content: center;
  gap: 10px;
  list-style: none;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .icons-first-footer {
    margin: 0;
  }
}

.icons-footer {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  justify-content: center;
  transition-property: background-color;
}
.icons-footer:hover, .icons-footer:focus {
  background-color: var(--another-color);
}

.icons-footer-ic {
  fill: var(--sac-basic-color);
}

@media screen and (min-width: 768px) {
  .tablet-block {
    display: flex;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .tablet-block {
    display: flex;
    align-items: baseline;
  }
}

.paragrapf-maling {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--sac-basic-color);
  margin-bottom: 20px;
  text-transform: uppercase;
}

.maling-list {
  text-align: center;
}

.maling-footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--back-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 100%;
  height: 50px;
  outline: none;
  margin-bottom: 20px;
  padding-left: 16px;
}
@media screen and (min-width: 480px) {
  .maling-footer {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .maling-footer {
    width: 358px;
    margin-bottom: 0;
  }
}

.button-form {
  display: block;
}
@media screen and (min-width: 1200px) {
  .button-form {
    display: flex;
    align-items: center;
    margin-bottom: 0;
  }
}

.maling-icons {
  fill: var(--sac-basic-color);
  margin-left: 12px;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition-property: all;
}

.modal {
  width: 528px;
  height: 581px;
  background-color: var(--sac-basic-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 8px;
  right: 8px;
  justify-content: center;
  cursor: pointer;
  background-color: var(--sac-basic-color);
  padding: 0;
}
.modal-button:hover, .modal-button:focus {
  background-color: var(--sac-basic-color);
  fill: var(--another-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-label {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--basic-color);
  margin-bottom: 12px;
}

.block-modal {
  padding: 40px 40px;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.data-column {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--subtitle-color);
  margin-bottom: 4px;
  position: relative;
}
.data-column:focus-within {
  fill: var(--another-color);
}

.data-input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 10px;
  padding-left: 42px;
  cursor: pointer;
  outline: none;
}
.data-input:focus-within {
  border-color: var(--another-color);
}

.icons-modal {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.coment-modal {
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  resize: none;
}
.coment-modal:focus-within {
  border-color: var(--another-color);
}
.coment-modal:focus-within::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.coment-modal:focus-within:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.coment-modal:focus-within::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.checkbox {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--subtitle-color);
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 0;
  justify-content: center;
}

.link-checkbox {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--another-color);
  margin-left: 3px;
}

.input-check {
  width: 16px;
  height: 15px;
  margin-right: 7px;
  align-items: center;
}

.but-end {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--sac-basic-color);
  border: none;
  width: 200px;
  height: 50px;
  background: var(--back-batt-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 52px;
  letter-spacing: 0.06em;
}

.btn-enter {
  justify-content: center;
  margin-top: 30px;
}/*# sourceMappingURL=main.css.map */