html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, 
kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, 
td { margin: 0; padding: 0; border: 0; outline: 0; text-decoration: none; }



/*Кольори сторінки*/
:root{
--basic-color: #212121;
--sac-basic-color: #ffffff;
--another-color:#2196f3;
--subtitle-color:#757575;
--back-color: #2f303a;
--uknown-color: #ffffff99;
--back-batt-color: #188CE8;
--back-section-color: #F5F4FA;
--border-header-color: #ECECEC;
--icons-color:#AFB1B8;
}


/*Параметри які є у всіх об'єктах*/
body{
color: var(--basic-color);
font-family: 'Roboto', sans-serif;
/*background-color: var(--sac-basic-color);*/
}


/*Універсальні класси*/
/*hover focus*/
button:hover{
background: var(--another-color);
}
button:focus{
background: var(--another-color);
}


/*підкреслення*/
.line{
text-decoration: none;
color: var(--basic-color);
font-size: 14px;
line-height: 1.14px;
letter-spacing: 0.02em;
}

.line:hover,
.line:focus{
    color: var(--another-color);
}
/*Курсор*/
.cursor{
cursor: pointer;
}
/*логотип*/
.logo{
width: 145px;
height: 31px;
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--another-color);
text-decoration: none;
}

/*всі маркери*/
.points{
list-style: none;
}

.container{
width: 1200px;
padding-left: 15px;
padding-right: 15px;
margin: 0 auto;
}
.section{
padding-top: 94px;
padding-bottom: 94px;
}


/*навігація шапки*/


.navigation{
transition-property: color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
position: relative;

}

.current::after {
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -33px;
    height: 4px;
    border-radius: 2px;
    content: '';
    background: var(--another-color);
    
}

.active{
    color: var(--another-color);
}


.mail-icons,
.tel-icons
{
    margin-right: 10px;
    fill: currentColor;
}

.head-web{
padding-top: 24px;
padding-bottom: 25px;
border: 1px solid var(--border-header-colo);
}
.nav-first{
font-weight:500 ;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--basic-color);
display: flex;
align-items: center;
position: relative;
}

.tel {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--subtitle-color);
display: flex;
align-items: center;
transition-property: color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mail{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--subtitle-color);
display: flex;
align-items: center;
transition-property: color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-leters{
color: var(--basic-color);
}

.header-box{
display: flex;
align-items: center;
}
.navigation-mark{
display: flex;
gap: 50px;
}
.contacts {
display: flex;
justify-items: space-between;
align-items: center;
gap: 50px;
margin-left: auto;
}

.first-logo {
margin-right: 93px;
}

/*Hero*/


.hero-sect{
max-width: 1600px;
margin: 0 auto;
background-color: var(--back-color);
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--sac-basic-color);
padding-bottom: 200px;
padding-top: 200px;
display: flex;
text-align: center;
background-image: linear-gradient( rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4))
, url(../images/Hero-bg.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;


}
.title-hero{
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--sac-basic-color);
margin-bottom: 30px;
text-transform: uppercase;
max-width: 696px;
margin-left: auto;
margin-right: auto;


}
.hero-button{ 
background-color: var(--back-batt-color);
font-family: 'Roboto', sans-serif;
font-weight: 700;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.06em;
color: var(--sac-basic-color); 
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border: none;
min-width: 216px;
height: 50px;
text-align: center;
display: inline-block;
position: relative;
transition-property: background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


}


/*Наші особливості*/



.features-head{
    display: flex;
    gap: 30px;
}

.features{
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
margin-bottom: 10px;
}
.paragraph-features{
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--subtitle-color);
}

.features-list{
    flex-basis: calc((100%-90px) /4);
}

.features-block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    background-color: var(--back-section-color);
    margin-bottom: 30px;
}




/*не існуюючий заголовок*/

.defunct{
position: absolute;
white-space: nowrap;
width: 1px;
height: 1px;
overflow: hidden;
border: 0;
padding: 0;
clip: rect(0 0 0 0);
clip-path: inset(50%);
margin: -1px;
}

/*Чим ми займаємося*/


.thumb{
position: relative;
display: flex;
justify-content: center;
margin: 0 auto;
}

.paragraph-work{
    font-family: 'Roboto', sans-serif ;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--sac-basic-color);
    padding-top:27px;
    padding-bottom: 27px;
    margin: 0;
}


.thumb > .paragraph-work{
    position: absolute;
    top: 224px;
    bottom: 0;
    right: auto;
    left: auto;
    background: rgba(47, 48, 58, 0.8);
    width: 370px;
    height: 70px;
}


.work-sect{
    padding-bottom: 94px;
}

.title-second{
font-weight: 700;
font-size: 36px;
line-height: 1.16;
letter-spacing: 0.03em;
text-align: center;
}
.work {
    display: flex;
    gap: 30px;

}
/*Наша команда*/




.icons-first-team{
    display: flex;
    justify-content: space-around;
    padding: 16px 32px 30px;
    flex-basis: calc((100%-30px) /4);

}


.icons-team-ic {
fill: var(--icons-color);
transition-property: fill;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.icons-team{
width: 44px;
height: 44px;
border-radius: 50%;
gap: 10px;
display: flex;
align-items: center;
justify-content: center;
transition-property: background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-team:hover,
.icons-team:focus {
    background-color: var(--another-color);
}

.icons-team:hover .icons-team-ic,
.icons-team:focus .icons-team-ic{
    fill: var(--sac-basic-color);
}

.staff{
display: flex;
gap: 30px;
}

.title-second{
margin-bottom: 50px;
}

.staff-paragraph{
font-weight: 500;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
text-align: center;
margin-top: 30px;
margin-bottom: 10px;
}

.staff-profession{
font-weight: 400;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
color: var(--subtitle-color);
text-align: center;
}

.team{
background-color: var(--back-section-color);
}

.team-list{
background-color: var(--sac-basic-color);
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;

}


/*Постійні клієнти*/
.link-clients{
    width: 170px;
    height: 92px;
    border: 1px solid var(--icons-color);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
transition-property: border-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.section-clients{
    padding-top: 94px;
    padding-bottom: 94px;
}

.list-client{
    display: flex;
    justify-content: space-between;
}

.icons-clients{
    fill: var(--icons-color);
transition-property: fill;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-clients:hover,
.link-clients:focus{
    border-color: var(--another-color);
}

.link-clients:hover .icons-clients,
.link-clients:focus .icons-clients{
    fill: var(--another-color);
}




/*Підвал сторінки*/


.foot-list{
margin-bottom: 9px;
}

.log-foot{
display: inline-block;
margin-bottom: 20px;

}
.basement-hero{
background-color: var(--back-color);
padding-top: 60px;
padding-bottom: 60px;
}
.mail-tell-foot{
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--uknown-color);
text-decoration: none;
font-style: normal;
transition-property: color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.map{
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--sac-basic-color);
text-decoration: none;
font-style: normal;
transition-property: color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.two-logo-letters{
color:var(--sac-basic-color);
}


.paragrapf-footer{
font-family: 'Roboto', sans-serif;
font-weight: 700;
font-size: 14px;
Line-height: 1.14;
letter-spacing: 0.03em;
color: var(--sac-basic-color);
margin-bottom: 20px;
text-transform: uppercase;
}

.footer-second{
    display: block;
    width: 206px;
    height: 80px;
    margin-left: 70px;
}

.icons-first-footer{
    display: flex;
    align-content: center;
    justify-content: space-around;
    gap: 10px;
}

.footer-first-block{
    display: flex;
    align-items: baseline;
}

.icons-footer{
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
transition-property: background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icons-footer:hover,
.icons-footer:focus{
    background-color: var(--another-color);

}


.icons-footer-ic{
    fill: var(--sac-basic-color);
}


/* РОЗСИЛКА */

.paragrapf-maling{
    font-family: 'Roboto' sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--sac-basic-color);
    margin-bottom: 20px;
}


.maling-list{
    display: block;
    width: 570px;
    height: 86px;
    margin-left: 93px;
}

.maling-footer {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.25;
color: rgba(255, 255, 255, 0.6);
background-color: var(--back-color);
border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
width: 358px;
height: 50px;
margin-right: 12px;
padding-top: 15px;
padding-left: 16px;
padding-bottom: 15px;
outline: none;
}

.button-maling{
width: 200px;
height: 50px;
background-color: var(--another-color);
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.06em;
color:var(--sac-basic-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border: 0;
cursor: pointer;
padding: 10px 28px;
display: flex;
align-items: center;
justify-content: space-around;
}


.button-form{
    display: flex;
}

.maling-icons{
    fill: var(--sac-basic-color);
}


/*Backdrop*/


.backdrop{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition-property: all;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    
}
    
.modal{
    width: 528px;
    height: 581px;
    background-color: var(--sac-basic-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
    
}

.modal-button{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);;
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: var(--sac-basic-color);
    padding: 0;
    transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    
}
.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-button:hover,
.modal-button:focus{
    background-color: var(--sac-basic-color);
    fill: var(--another-color);

}


/*Модалка*/

.modal-label{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--basic-color);
    margin-bottom: 12px;
      
}

.block-modal{
    padding: 40px 40px;
}
label{
display: flex;
  flex-direction: column;
  margin-bottom: 8px;}
  
  .data-column{
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 1.16;
letter-spacing: 0.01em;
color:var(--subtitle-color);
margin-bottom: 4px;
position: relative;

  }

  .data-input{
    width: 448px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
margin-bottom: 10px;
padding-left: 42px;
cursor: pointer;
outline: none;
  }

 .data-column:focus-within{
    fill:var(--another-color);
 }
 .data-input:focus-within{
    border-color: var(--another-color);
 }
 .coment-modal:focus-within{
    border-color:var(--another-color);
 }



.icons-modal{
    position: absolute;
    left:12px;
    top:50%;
    transform: translateY(-50%);

}

  .coment-modal{
    width: 448px;
    height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
outline: none;
cursor: pointer;
resize: none;

  }
  .coment-modal::placeholder{
    color: rgba(117, 117, 117, 0.5);
  }

  .checkbox{
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--subtitle-color);
display: flex;
flex-direction: row;
margin-top: 20px;
margin-bottom: 0;
justify-content: center;
align-items: center;


  }

  .link-checkbox{
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
text-decoration-line: underline;
color: var(--another-color);
margin-left: 3px;
  }
  .input-check {
    width: 16px;
    height: 15px;
    margin-right: 7px;
    align-items: center;
  }

  .but-end{
   
font-weight: 700;
font-size: 16px;
line-height: 1.87;
    color: var(--sac-basic-color);
    border: none;
    width: 200px;
    height: 50px;
    background: var(--back-batt-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
cursor: pointer;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
padding: 10px 52px;
letter-spacing: 0.06em;

  }

.btn-enter{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

                                           