html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, 
kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, 
td { margin: 0; padding: 0; border: 0; outline: 0; text-decoration: none; }

/*Кольори сторінки*/
:root{
--basic-color: #212121;
--sac-basic-color: #ffffff;
--another-color:#2196f3;
--subtitle-color:#757575;
--back-color: #2f303a;
--uknown-color: #ffffff99;
--back-batt-color: #F5F4FA;
--border-header-color: #ECECEC;
--border-page-color: #EEEEEE;
}


/*Параметри які є у всіх об'єктах*/
body{
font-family: 'Roboto', sans-serif;
color: var(--basic-color);
background-color: var(--sac-basic-color);
}


/*Універсальні класси*/
/*hover focus*/
a:hover{
color: var(--another-color);  
}
a:focus{
color: var(--another-color);
}
/*підкреслення*/
.line{
text-decoration: none;
color: var(--basic-color);
font-size: 14px;
line-height: 1.14px;
letter-spacing: 0.02em;

}
/*Курсор*/
.cursor{
cursor: pointer;
}
/*логотип*/
.logo{
width: 145px;
height: 31px;
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--another-color);
text-decoration: none;
}


/*всі маркери*/
.points{
list-style: none;
}
.hero-title,.paragraph-hero{
background-color: var(--sac-basic-color);
}

.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    }


/*навігація шапки*/



.current::after {
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -32px;
    height: 4px;
    border-radius: 2px;
    content: '';
    background: var(--another-color);
    
}

.navigation{
transition-property: color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
position: relative;
}


.mail-icons,
.tel-icons
{
    margin-right: 10px;
    fill: currentColor;
}

.head-web{
padding-top: 24px;
padding-bottom: 25px;
border: 1px solid var(--border-header-colo);
}
.nav-first{
font-weight:500 ;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--basic-color);
display: flex;
align-items: center;
}

.tel {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--subtitle-color);
display: flex;
align-items: center;
transition-property: color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}
.mail{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--subtitle-color);
display: flex;
align-items: center;
transition-property: color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-leters{
color: var(--basic-color);
}

.header-box{
display: flex;
align-items: center;
}
.navigation-mark{
display: flex;
gap: 50px;
}
.contacts {
display: flex;
justify-items: space-between;
align-items: center;
gap: 50px;
margin-left: auto;
}

.first-logo {
margin-right: 93px;
}

.head-web{
    margin: 0 auto;
    max-width: 1600px;
    border-bottom: 1px solid var(--border-header-color);
}


/*Кнопки*/

.everyone-button{
transition-property: box-shadow;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-hero{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
text-align: center;
letter-spacing: 0.03em;
cursor: pointer;
color: var(--basic-color);
background-color: var(--back-batt-color);
border-radius: 4px;
padding: 6px 22px;
border: none;
transition-property: background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
button:hover{
background-color: var(--another-color);
color: var(--sac-basic-color);
}
button:focus{
background-color: var(--another-color);
color: var(--sac-basic-color);
}
.list-button{ 
list-style: none;
display: flex;
justify-content: center;
gap: 8px;
margin-bottom: 50px;
}

.everyone-button:hover,
.everyone-button:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
}


/*Головний текст*/



.thumb{
position: relative;
overflow: hidden;
}

.paragrapf-thumb{
position: absolute;
font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 18px;
line-height: 1.55;
letter-spacing: 0.03em;
color: var(--sac-basic-color);
margin: 0;
width: 100%;
height: 100%;
top:0;
left: 0;
padding: 63px 24px;
transform: translateY(100%);
transition-property: background-color, transform;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-cards-port:hover .paragrapf-thumb{
    background-color:rgba(33, 150, 243, 0.9);
    transform: translateY(0);}

.hero-sect{ 
    padding-top: 94px;
    padding-bottom: 94px;
}

.hero-title{
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--basic-color); 
margin-bottom: 4px;
}
.paragraph-hero{
font-weight: 400;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: var(--subtitle-color);

}
.hero-link{
display: flex;
flex-wrap: wrap;
gap: 30px ;
}

.image-link{
display: inline-block;
}
.border-page{
border: 1px solid var(--border-page-color);
border-top: 0;
padding: 20px 24px;
}
.link-text{
flex-basis: calc((100% - 60px) / 3);
}


.link-cards-port{
    display: block;
transition-property: box-shadow;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}

.link-cards-port:hover,
.link-cards-port:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);;

}

/*Підвал сторінки*/

.foot-list{
margin-bottom: 9px;
}
    
.log-foot{
display: inline-block;
margin-bottom: 20px;

}
.basement-hero{
background-color: var(--back-color);
padding-top: 60px;
padding-bottom: 60px;
}
.mail-tell-foot{
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--uknown-color);
text-decoration: none;
font-style: normal;
transition-property: color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.map{
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--sac-basic-color);
text-decoration: none;
font-style: normal;
transition-property: color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.two-logo-letters{
color:var(--sac-basic-color);
}

.paragrapf-footer{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
Line-height: 1.14;
letter-spacing: 0.03em;
color: var(--sac-basic-color);
margin-bottom: 20px;
text-transform: uppercase;
}
  
.footer-second{
display: block;
width: 206px;
height: 80px;
margin-left: 70px;
}
    
.icons-first-footer{
display: flex;
align-content: center;
justify-content: space-around;
gap: 10px;
}
    
.footer-first-block{
display: flex;
align-items: baseline;
}
    
.icons-footer{
width: 44px;
height: 44px;
background-color: rgba(255, 255, 255, 0.1);
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
transition-property: background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icons-footer:hover,
.icons-footer:focus{
background-color: var(--another-color);

}


.icons-footer-ic{
fill: var(--sac-basic-color);
}

/* РОЗСИЛКА*/

.maling-footer {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
    background-color: var(--back-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    width: 358px;
    height: 50px;
    margin-right: 12px;
    padding-top: 15px;
    padding-left: 16px;
    padding-bottom: 15px;
    }
    
    .button-maling{
    width: 200px;
    height: 50px;
    background-color: var(--another-color);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color:var(--sac-basic-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;
    cursor: pointer;
    padding: 10px 28px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    }
    
    
    .button-form{
    display: flex;
    align-items: center;
    
    }
    
    .maling-icons{
        fill: var(--sac-basic-color);
    }
    
    .maling-list{
        display: block;
        width: 570px;
        height: 86px;
        margin-left: 93px;
    }
    
    .paragrapf-maling{
    font-family: 'Roboto' sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--sac-basic-color);
    margin-bottom: 20px;
    }