.link-clients{
    width: 170px;
    height: 92px;
    border: 1px solid var(--icons-color);
    border-radius: 5px;
    @extend %display;
    justify-content: center;
transition-property: border-color;
@extend %animation;
&:hover,
&:focus{
    border-color: var(--another-color);
}
}

.section-clients{
    padding-top: 94px;
    padding-bottom: 94px;
}

.list-client{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.icons-clients{
    fill: var(--icons-color);
transition-property: fill;
@extend %animation;
.link-clients:hover &,
.link-clients:focus &{
    fill: var(--another-color);
}
}
