.link-clients{
    width: 210px;
    height: 92px;
    border: 1px solid var(--icons-color);
    border-radius: 5px;
    @extend %display;
    justify-content: center;
transition-property: border-color;
@extend %animation;
&:hover,
&:focus{
    border-color: var(--another-color);
}
@media screen and (min-width: 768px) {
    width: 226px;
}
@media screen and (min-width: 1200px) {
    width: 170px;
}
}

.list-client{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 30px;
}

.icons-clients{
    fill: var(--icons-color);
transition-property: fill;
@extend %animation;
.link-clients:hover &,
.link-clients:focus &{
    fill: var(--another-color);
}
}

.block-clients{
    width: 100%;
}