
.footer-first-block{
    width:100%;
}

.foot-list{
    // margin-bottom: 9px;
    margin-bottom: 8px;
    }
    
    .log-foot{
    display: inline-block;
    align-items: center;
    margin-bottom: 20px;
    }
    
    .basement-hero{
    background-color: var(--back-color);
    }
    
    .mail-tell-foot{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--uknown-color);
    text-decoration: none;
    font-style: normal;
    transition-property: color;
    @extend %animation;
    cursor: pointer;
    }
    
    .map{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--sac-basic-color);
    text-decoration: none;
    font-style: normal;
    transition-property: color;
    @extend %animation;
    cursor: pointer;
    }
    
    .two-logo-letters{
    color:var(--sac-basic-color);
    }
    
    .paragrapf-footer{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--sac-basic-color);
    margin-bottom: 20px;
    text-transform: uppercase;
    }
    
    .footer-second{
        text-align: center;
    
     }
    
    .icons-first-footer{
        @extend %display;
        justify-content: center;
        gap: 10px;
        list-style: none;
        margin-bottom: 60px;

    }
    
    
    
    .icons-footer{
        width: 44px;
        height: 44px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        @extend %display;
        justify-content: center;
    transition-property: background-color;
    @extend %animation;
    &:hover,
    &:focus{
        background-color: var(--another-color);
    }
    }

    .icons-footer-ic{
        fill: var(--sac-basic-color);
    }
    
    .paragrapf-maling{
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--sac-basic-color);
        margin-bottom: 20px;
    }
    
    .maling-list{
        text-align: center;
    }
    
    .maling-footer {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
    background-color: var(--back-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    width: 100%;
    height: 50px;
    // width: 358px;
    // height: 50px;
    // margin-right: 12px;
    padding-top: 15px;
    padding-left: 16px;
    padding-bottom: 15px;
    outline: none;
    margin-bottom: 20px;
    }
    
    
    .button-form{
        
    }
    
    .maling-icons{
        fill: var(--sac-basic-color);
        margin-left: 12px;
    }

    .basement{
        list-style: none;
        margin-bottom: 60px;
        text-align: center;
    }