:root{
    --basic-color: #212121;
    --sac-basic-color: #ffffff;
    --another-color:#2196f3;
    --subtitle-color:#757575;
    --back-color: #2f303a;
    --uknown-color: #ffffff99;
    --back-batt-color: #F5F4FA;
    --border-header-color: #ECECEC;
    --border-page-color: #EEEEEE;
    }