.link-clients{
    width: 170px;
    height: 92px;
    border: 1px solid var(--icons-color);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
transition-property: border-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
&:hover,
&:focus{
    border-color: var(--another-color);
}
}

.section-clients{
    padding-top: 94px;
    padding-bottom: 94px;
}

.list-client{
    display: flex;
    justify-content: space-between;
}

.icons-clients{
    fill: var(--icons-color);
transition-property: fill;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
.link-clients:hover &,
.link-clients:focus &{
    fill: var(--another-color);
}
}