.foot-list{
    margin-bottom: 9px;
    }
    
    .log-foot{
    display: inline-block;
    margin-bottom: 20px;
    }
    
    .basement-hero{
    background-color: var(--back-color);
    padding-top: 60px;
    padding-bottom: 60px;
    }
    
    .mail-tell-foot{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--uknown-color);
    text-decoration: none;
    font-style: normal;
    transition-property: color;
    @extend %animation;
    cursor: pointer;
    }
    
    .map{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--sac-basic-color);
    text-decoration: none;
    font-style: normal;
    transition-property: color;
    @extend %animation;
    cursor: pointer;
    }
    
    .two-logo-letters{
    color:var(--sac-basic-color);
    }
    
    .paragrapf-footer{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--sac-basic-color);
    margin-bottom: 20px;
    text-transform: uppercase;
    }
    
    .footer-second{
        display: block;
        width: 206px;
        height: 80px;
        margin-left: 70px;
    }
    
    .icons-first-footer{
        @extend %display;
        justify-content: space-around;
        gap: 10px;
        list-style: none;
    }
    
    .footer-first-block{
        @extend %display;
    }
    
    .icons-footer{
        width: 44px;
        height: 44px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        @extend %display;
        justify-content: center;
    transition-property: background-color;
    @extend %animation;
    &:hover,
    &:focus{
        background-color: var(--another-color);
    }
    }

    .icons-footer-ic{
        fill: var(--sac-basic-color);
    }
    
    .paragrapf-maling{
        font-family: 'Roboto' sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--sac-basic-color);
        margin-bottom: 20px;
    }
    
    .maling-list{
        display: block;
        width: 570px;
        height: 86px;
        margin-left: 93px;
    }
    
    .maling-footer {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
    background-color: var(--back-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    width: 358px;
    height: 50px;
    margin-right: 12px;
    padding-top: 15px;
    padding-left: 16px;
    padding-bottom: 15px;
    outline: none;
    }
    
    .button-maling{
    width: 200px;
    height: 50px;
    background-color: var(--another-color);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color:var(--sac-basic-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;
    cursor: pointer;
    padding: 10px 28px;
    @extend %display;
    justify-content: space-around;
    }
    
    .button-form{
        display: flex;
    }
    
    .maling-icons{
        fill: var(--sac-basic-color);
    }

    .basement{
        list-style: none;
    }