.icons-first-team{
    display: flex;
    justify-content: space-around;
    padding: 16px 32px 30px;
    flex-basis: calc((100% - 30px) /4);
    list-style: none;
}

.icons-team-ic {
fill: var(--icons-color);
transition-property: fill;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
.icons-team:hover &,
.icons-team:focus &{
    fill: var(--sac-basic-color);
}
}

.icons-team{
width: 44px;
height: 44px;
border-radius: 50%;
gap: 10px;
display: flex;
align-items: center;
justify-content: center;
transition-property: background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
&:hover,
&:focus {
    background-color: var(--another-color);
}
}

.staff{
display: flex;
gap: 30px;
list-style: none;
}

.title-second{
margin-bottom: 50px;
}

.staff-paragraph{
font-weight: 500;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
text-align: center;
margin-top: 30px;
margin-bottom: 10px;
}

.staff-profession{
font-weight: 400;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
color: var(--subtitle-color);
text-align: center;
}

.team{
background-color: var(--back-section-color);
}

.team-list{
background-color: var(--sac-basic-color);
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}
