.work__container{
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    }
    
    .work__paragraph{
        font-family: 'Roboto', sans-serif ;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--sac-basic-color);
        padding-top:27px;
        padding-bottom: 27px;
        margin: 0;
        .work__container > &{
            position: absolute;
            top: 224px;
            bottom: 0;
            right: auto;
            left: auto;
            background: rgba(47, 48, 58, 0.8);
            width: 370px;
            height: 70px;
        }
    }

    .work__section{
        padding-bottom: 94px;
    }
    

    .work__block {
        display: flex;
        gap: 30px;
        list-style: none;
    }