.current::after {
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -33px;
    height: 4px;
    border-radius: 2px;
    content: '';
    background: var(--another-color);
}
.active{
    color: var(--another-color);
}

.navigation{
transition-property: color;
@extend %animation;
position: relative;
}

.mail-icons,
.tel-icons
{
    margin-right: 10px;
    fill: currentColor;
}

.head-web{
padding-top: 24px;
padding-bottom: 25px;
border: 1px solid var(--border-header-colo);
}
.nav-first{
font-weight:500 ;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--basic-color);
@extend %display;
}

.tel {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--subtitle-color);
cursor: pointer;
@extend %display;
transition-property: color;
@extend %animation;

}
.mail{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--subtitle-color);
cursor: pointer;
@extend %display;
transition-property: color;
@extend %animation;
}

.logo-leters{
color: var(--basic-color);
}

.header-box{
@extend %display;
}
.navigation-mark{
display: flex;
gap: 50px;
list-style: none;
}
.contacts {
@extend %display;
justify-items: space-between;
gap: 50px;
margin-left: auto;
list-style: none;
}

.first-logo {
margin-right: 93px;
}

.head-web{
    margin: 0 auto;
    max-width: 1600px;
    border-bottom: 1px solid var(--border-header-color);
}
