.thumb{
    position: relative;
    overflow: hidden;
    }
    
    .paragrapf-thumb{
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: var(--sac-basic-color);
    margin: 0;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    padding: 63px 24px;
    transform: translateY(100%);
    transition-property: background-color, transform;
    @extend %animation;
    .link-cards-port:hover &{
        background-color:rgba(33, 150, 243, 0.9);
        transform: translateY(0);
    }
    }
    
    .hero-sect{ 
        padding-top: 94px;
        padding-bottom: 94px;
    }
    
    .hero-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--basic-color); 
    margin-bottom: 4px;
    }
    .paragraph-hero{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--subtitle-color);
    
    }
    .hero-link{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    list-style: none;
    }
    
    .image-link{
    display: inline-block;
    }
    .border-page{
    border: 1px solid var(--border-page-color);
    border-top: 0;
    padding: 20px 24px;
    }
    .link-text{
    flex-basis: calc((100% - 60px) / 3);
    }
    
    .link-cards-port{
        display: block;
    transition-property: box-shadow;
    @extend %animation;
    &:hover,
    &:focus{
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);;
    }
    }
  